html {
   height:100%;

}

body {
  height:100%;
  margin: 0px;
  overflow: hidden;
}

.txt_row {
  height: 33.33vh;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#state_txt {
  color: black;
  text-align: left;
  width: 100%;

}

.row_img {
  height: auto;
  width: auto;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  color: white;
  /* text-align: center; */
  font-family: sans-serif;
  font-size: 5em;
  display: inline;
  margin: 0;
  padding: 0.5em;
}

.txt {
  width: 70%;
}

.row_img_container {
  width:30%;
  height: 100%;
}
