<!DOCTYPE HTML>
<html>
<head>
    <title>lh7</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/favicon.png')}}">
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='dist/bundle.js')}}"></script>
</head>
<body>
  <!-- <select id="voice-selector">
  <option value="" disabled selected>TTS voice</option>
  </select> -->
  <div id="action_txt_container" class="txt_row">
    <div id="action_img_container" class="row_img_container">
      <img id="action_img" class="row_img"/>
    </div>
    <h1 class="txt" id="action_txt"></h1>
  </div>
  <div id="state_txt_container" class="txt_row">
    <!-- <div id="state_img_container" class="row_img_container">
      <img id="state_img" class="row_img"/>
    </div> -->
    <h1 class="txt" id="state_txt"></h1>
  </div>
  <div id="move_txt_container" class="txt_row">
    <div id="move_img_container" class="row_img_container">
      <img id="move_img" class="row_img"/>
    </div>
    <h1 class="txt" id="move_txt"></h1>
  </div>
</body>

</html>
